<footer class="container-md">
  <div class="col align-center gap-xs">
    <hr class="mv-md" />
    <a
      class="card paper pv-xs ph-sm row gap-xs align-center bold mb-sm"
      href="https://linwood.dev"
      target="_blank"
    >
      <img src="/favicon.svg" width="32" alt="Linwood logo" />
      Linwood
    </a>
    <div class="row gap-xs justify-center wrap">
      <a class="btn" href="https://bsky.app/profile/linwood.dev" rel="me" target="_blank"
        >Bluesky</a
      >
      <a class="btn" href="https://floss.social/@Linwood" rel="me" target="_blank"
        >Mastodon</a
      >
      <a class="btn" href="https://linwood.dev/matrix" rel="me" target="_blank">Matrix</a>
      <a class="btn" href="https://linwood.dev/discord" rel="me" target="_blank">Discord</a>
      <a class="btn" href="https://github.com/LinwoodDev" rel="me" target="_blank">GitHub</a
      >
    </div>
    <div class="row gap-xs justify-center wrap">
      <a class="btn" href="https://linwood.dev/imprint">Impressum</a>
      <a class="btn" href="https://linwood.dev/privacypolicy">Datenschutzerklärung</a>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
